<% include ./partials/header %>

<h1>Login</h1>

<form action="/login" method = "post">
    <input type = "text" name = "username" placeholder = "username">
    <input type = "password" name = "password" placeholder="password">
    <input type = "submit" value = "Login">
    <h4>Not registered? <a href = "register">Sign Up</a></h4>
</form>

<% include ./partials/footer %>