<% include ../partials/header %>

   
<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
      <h1> <img id = "picture" src="https://lh3.googleusercontent.com/bW64pmQDfTHo4NezhcmfM8iouMAww8VllPv7BihGKTCNIO8fEzg5_BBCh8mzGGVyR-nnlfQu0TH1O_zIs1N-34MN_V-O0SLuCR91Vgin6PHssE-B4qkEm1yTzWJS9B2CfXSiEwgiSJFrK8nojYcm6eSe_JF0gPqhf5fpE94DO0mtDCFsQF4-vUp-byWF9CMwPq96FnCuutcQ24En8nFOZ5TcPVKfQ-6CnhVr8oV9JytkDQM6GvvFPLaxUjlDraB3mEesgdZdttX_vdL-GqoobmJOYM-5irjy2oL1ub5FcObpdbggZ4uMorBNNdcUskiAk93eZhHTJZQp9AKP0JN2zXJz-07FcLCDdB42t7cC4f8JOeipls9jkAwDM2Zy1TqXvx1e10_r0Ri4Jj0yKShqeBAzGRbsxFSKr4Aj9PeYas83zIrakmZ3G_OJTsMuF837wru7JC1zo8mMoE753xUPQVqsMJqb9GFMBqhLAPOkWW7g88htO18rEQDKn3CZg7kbLB_72Pq3k5uM3_4QvWtbllfSey97VhNGxus7w8DmBW8sL88JfuyhbJW463WNZrlEVgz7S1tII_C4bkGx6y7KAKDTkhWM9IYyxbBX1Hw=w720-h405-no"> ShareYourCamp</h1>
            <p>View our handpicked campgrounds from all over the world</p>
            <p>NOTE: These are not real Campgrounds........</p>
            <p><a class = "btn btn-primary btn-large "href ="/campgrounds/new">Add new Campground</a></p>
        </div>
    </header>

    <div class = "row text-center" >
        <% campgrounds.forEach(function(campground){%>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail">
                   <img src = "<%= campground.image %> " >
                   <div class = "caption">
                        <h4> <%= campground.name %> </h4>
                   </div>
                   <p>
                       
                       <a href = "/campgrounds/<%=campground._id%> " class="btn btn-primary ">More Info</a>
                       </p>
               </div>
           </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>