<% include ../partials/header %>

   
<div  class = "container">
    <header id = "campfire" class = "jumbotron">
        <div id = "con" class = "container">
      <h1 id = "intro"> <img id = "picture" src="/img/tent.jpg"> ShareYourCamp</h1>
            <p id = "intro">View our handpicked campgrounds from all over the world</p>
            <p id = "intro">NOTE: These are not real Campgrounds........</p>
            <p><a id = "add Campground" class = "btn btn-primary btn-large "href ="/campgrounds/new">Add new Campground</a></p>
            <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Camprgounds</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="https://shareyourcamp.herokuapp.com/campgrounds/5a4dd2bb9bd0b9001458541b">Grand Mountain</a>
    <a href="https://shareyourcamp.herokuapp.com/campgrounds/5a4dd3429bd0b9001458541d">Sunrise Ridge</a>
    <a href="https://shareyourcamp.herokuapp.com/campgrounds/5a4dd3839bd0b9001458541e">Dusty Grove</a>
  </div>
</div>
        </div>
    </header>

    <div  class = "row text-center" >
        <% campgrounds.forEach(function(campground){%>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail">
                   <img src = "<%= campground.image %> " >
                   <div class = "caption">
                        <h4> <%= campground.name %> </h4>
                   </div>
                   <p>
                       
                       <a href = "/campgrounds/<%=campground._id%> " class="btn btn-primary ">More Info</a>
                       </p>
               </div>
           </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>